.bsky-comments-container {
  max-width: 740px;
  margin: 0 auto;
}

.bsky-comments-statsBar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bsky-comments-statsBar:hover {
  text-decoration: underline;
}

.bsky-comments-statItem {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  white-space: nowrap;
}

.bsky-comments-container a.bsky-comments-link {
  text-decoration: underline;
}

.bsky-comments-container a.bsky-comments-link:hover {
  text-decoration: underline;
}

.bsky-comments-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.bsky-comments-errorText,
.bsky-comments-loadingText {
  text-align: center;
}

.bsky-comments-commentsTitle {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.bsky-comments-replyText {
  margin-top: 0.5rem;
  font-size: 0.875rem;
}

.bsky-comments-divider {
  margin-top: 0.5rem;
}

.bsky-comments-commentsList {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bsky-comments-showMoreButton {
  all: unset;
  text-decoration: underline;
}

.bsky-comments-container .bsky-comments-showMoreButton {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  text-decoration: underline;
}

.bsky-comments-container .bsky-comments-showMoreButton:hover {
  text-decoration: underline;
}

.bsky-comments-commentContainer {
  margin: 1rem 0;
  font-size: 0.875rem;
}

.bsky-comments-commentContent {
  display: flex;
  max-width: 36rem;
  flex-direction: column;
  gap: 0.5rem;
}

.bsky-comments-authorLink {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.bsky-comments-authorLink:hover {
  text-decoration: underline;
}

.bsky-comments-avatar {
  height: 1rem;
  width: 1rem;
  flex-shrink: 0;
  border-radius: 9999px;
  background-color: #d1d5db;
}

.bsky-comments-authorName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.bsky-comments-container a {
  text-decoration: none;
  color: inherit;
}

.bsky-comments-container a:hover {
  text-decoration: none;
}

.bsky-comments-commentContent .bsky-comments-handle {
  color: #6b7280;
}
.bsky-comments-repliesContainer {
  border-left: 2px solid #525252;
  padding-left: 0.5rem;
}

.bsky-comments-actionsContainer {
  margin-top: 0.5rem;
  display: flex;
  width: 100%;
  max-width: 150px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  opacity: 0.6;
}

.bsky-comments-actionsRow {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
