.RootLayout_body__1myxvav0 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.RootLayout_main__1myxvav1 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  min-height: 100vh;
}
.RootLayout_header__1myxvav2 {
  flex-shrink: 1;
  background-color: var(--colors-gray000__1ngcs9h16);
  color: var(--colors-black__1ngcs9h15);
}
.RootLayout_footer__1myxvav3 {
  flex-shrink: 1;
  background-color: var(--colors-gray000__1ngcs9h16);
}
.RootLayout_container__1myxvav4 {
  padding: var(--space-4__1ngcs9h5);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.RootLayout_section__1myxvav5 {
  margin: 0 auto;
  flex-grow: 1;
}
@media screen and (min-width: 20em) {
  .RootLayout_container__1myxvav4 {
    max-width: 94vw;
    min-width: 94vw;
  }
  .RootLayout_section__1myxvav5 {
    max-width: 94vw;
    min-width: 94vw;
    padding: var(--space-3__1ngcs9h4);
  }
}
@media screen and (min-width: 40em) {
  .RootLayout_container__1myxvav4 {
    max-width: 80vw;
    min-width: 80vw;
  }
  .RootLayout_section__1myxvav5 {
    max-width: 80vw;
    min-width: 80vw;
    padding: var(--space-7__1ngcs9h8);
  }
}
@media screen and (min-width: 60em) {
  .RootLayout_container__1myxvav4 {
    max-width: 70ch;
    min-width: 70ch;
    flex-direction: row;
  }
  .RootLayout_section__1myxvav5 {
    max-width: 70ch;
    min-width: 70ch;
    padding: var(--space-10__1ngcs9hb);
  }
}